.bg-color-red {
  background-color: rgb(128, 36, 36);
  color: white;
}

.bg-color-grey {
  background-color: rgb(100, 100, 100);
  color: white;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 10px;
}

#validate_form input[type="submit"] {
  background-color: purple;
  padding: 5px;
  color: white;
}
